a.button:focus,
a.button:hover {
  text-decoration: none;
}
.overlay-enter.overlay-enter button,
.overlay-exit-active.overlay-exit-active button,
.stage-appear.stage-appear button,
.stage-appear.stage-appear .button,
.stage-enter.stage-enter button,
.stage-enter.stage-enter .button,
.stage-exit-active.stage-exit-active.stage-exit-active button,
.stage-exit-active.stage-exit-active.stage-exit-active .button,
.stage-enter-done .card-enter button,
.stage-enter-done .card-enter .button,
.stage-enter-done .card-exit-active.card-exit-active button,
.stage-enter-done .card-exit-active.card-exit-active .button {
  box-shadow: none;
  background-color: transparent;
  color: transparent;
  transition:
    background-color 200ms,
    box-shadow 200ms,
    color 200ms;
}
button,
.button,
button:active:active,
.button:active:active,
.overlay-enter-active.overlay-enter-active button,
.overlay-enter-active.overlay-enter-active .button,
.stage-appear-active.stage-appear-active button,
.stage-appear-active.stage-appear-active .button,
.stage-enter-active.stage-enter-active button,
.stage-enter-active.stage-enter-active .button,
.stage-enter-done .card-enter-active.card-enter-active button,
.stage-enter-done .card-enter-active.card-enter-active .button {
  background-color: var(--color-background-button);
  color: var(--color-text-button);
}
button.button-primary,
.button.button-primary,
button.button-primary:active:active,
.button.button-primary:active:active,
.overlay-enter-active button.button-primary,
.overlay-enter-active .button.button-primary,
.stage-appear-active.stage-appear-active button.button-primary,
.stage-appear-active.stage-appear-active .button.button-primary,
.stage-enter-active.stage-enter-active button.button-primary,
.stage-enter-active.stage-enter-active .button.button-primary,
.stage-enter-done .card-enter-active.card-enter-active button.button-primary,
.stage-enter-done .card-enter-active.card-enter-active .button.button-primary {
  background-color: var(--color-background-button-primary);
  color: var(--color-text-button-primary);
}
button.button-symbolic,
.button.button-symbolic,
button.button-symbolic:active:active,
.button.button-symbolic:active:active,
.overlay-enter-active button.button-symbolic,
.overlay-enter-active .button.button-symbolic,
.stage-appear-active.stage-appear-active button.button-symbolic,
.stage-appear-active.stage-appear-active .button.button-symbolic,
.stage-enter-active.stage-enter-active button.button-symbolic,
.stage-enter-active.stage-enter-active .button.button-symbolic,
.stage-enter-done .card-enter-active.card-enter-active button.button-symbolic,
.stage-enter-done .card-enter-active.card-enter-active .button.button-symbolic {
  color: var(--color-text-button-symbolic);
}
button,
.button,
.overlay-enter-active.overlay-enter-active button,
.overlay-enter-active.overlay-enter-active .button,
.stage-appear-active.stage-appear-active button,
.stage-appear-active.stage-appear-active .button,
.stage-enter-active.stage-enter-active button,
.stage-enter-active.stage-enter-active .button,
.stage-enter-done .card-enter-active button,
.stage-enter-done .card-enter-active .button {
  box-shadow:
    -0.05em -0.05em var(--color-specular),
    -0.25em -0.25em 1em var(--color-highlight),
    0.05em 0.05em var(--color-shadow),
    0.25em 0.25em 1em var(--color-shadow);
  transition:
    background-color 400ms 800ms,
    box-shadow 400ms 800ms,
    color 400ms 800ms;
}
button.button-primary,
.button.button-primary,
.overlay-enter-active button.button-primary,
.overlay-enter-active .button.button-primary,
.stage-appear-active.stage-appear-active button.button-primary,
.stage-appear-active.stage-appear-active .button.button-primary,
.stage-enter-active.stage-enter-active button.button-primary,
.stage-enter-active.stage-enter-active .button.button-primary,
.stage-enter-done .card-enter-active button.button-primary,
.stage-enter-done .card-enter-active .button.button-primary {
  box-shadow:
    -0.05em -0.05em var(--color-specular),
    -0.25em -0.25em 1em var(--color-highlight),
    0.05em 0.05em var(--color-boundary-button),
    0.25em 0.25em 1em var(--color-shadow);
}
button.button-stub,
.button.button-stub,
.overlay-enter-active button.button-stub,
.overlay-enter-active .button.button-stub,
.stage-appear-active.stage-appear-active button.button-stub,
.stage-appear-active.stage-appear-active .button.button-stub,
.stage-enter-active.stage-enter-active button.button-stub,
.stage-enter-active.stage-enter-active .button.button-stub,
.stage-enter-done .card-enter-active button.button-stub,
.stage-enter-done .card-enter-active .button.button-stub {
  box-shadow:
    -0.05em -0.05em var(--color-specular),
    -0.05em -0.05em 0.2em var(--color-highlight),
    0.05em 0.05em var(--color-shadow),
    0.05em 0.05em 0.2em var(--color-shadow);
}
button.disabled,
.button.disabled,
.overlay-enter-active button.button-disabled,
.overlay-enter-active .button.button-disabled,
.stage-appear-active.stage-appear-active button.disabled,
.stage-appear-active.stage-appear-active .button.disabled,
.stage-enter-active.stage-enter-active button.disabled,
.stage-enter-active.stage-enter-active .button.disabled,
.stage-enter-done .card-enter-active button.disabled,
.stage-enter-done .card-enter-active .button.disabled {
  cursor: default;
  pointer-events: none;
  box-shadow:
    -0.05em -0.05em var(--color-shadow),
    -0.05em -0.05em inset var(--color-shadow),
    0.05em 0.05em var(--color-highlight),
    0.05em 0.05em inset var(--color-highlight);
  background-color: var(--color-background-button-hover);
  color: var(--color-text-button-hover);
}
button.hidden,
.button.hidden {
  visibility: hidden;
}
.overlay-enter-done button,
.stage-appear-done button,
.stage-appear-done .button,
.stage-enter-done button,
.stage-enter-done .button,
.stage-enter-done .card-enter-done button,
.stage-enter-done .card-enter-done .button {
  transition:
    background-color 50ms,
    box-shadow 50ms,
    color 50ms;
}
button,
.button,
button input[type='file'] {
  cursor: pointer;
}
button,
.button {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border: 0;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  font: inherit;
}
button + button,
.button + button,
button + .button,
.button + .button {
  margin-left: 2em;
}
button:focus,
.button:focus,
button:hover,
.button:hover {
  background-color: var(--color-background-button-hover);
  color: var(--color-text-button-hover);
  outline: none;
}
button.button-primary:focus,
.button.button-primary:focus,
button.button-primary:hover,
.button.button-primary:hover {
  background-color: var(--color-background-button-primary-hover);
  color: var(--color-text-button-primary-hover);
}
button.button-symbolic:focus,
.button.button-symbolic:focus,
button.button-symbolic:hover,
.button.button-symbolic:hover {
  color: var(--color-text-button-symbolic-hover);
}
button:active,
.button:active {
  box-shadow:
    -0.05em -0.05em var(--color-shadow),
    -0.1em -0.1em 0.4em inset var(--color-highlight),
    0.05em 0.05em var(--color-specular),
    0.1em 0.1em 0.4em inset var(--color-shadow);
}
button.button-primary:active,
.button.button-primary:active {
  box-shadow:
    -0.05em -0.05em var(--color-shadow),
    -0.1em -0.1em 0.4em inset var(--color-background-button-primary-hover),
    0.05em 0.05em var(--color-specular),
    0.1em 0.1em 0.4em inset var(--color-boundary-button);
}
button.button-stub:active,
.button.button-stub:active {
  box-shadow:
    -0.05em -0.05em var(--color-shadow),
    -0.02em -0.02em 0.08em inset var(--color-highlight),
    0.05em 0.05em var(--color-specular),
    0.02em 0.02em 0.08em inset var(--color-shadow);
}
button input[type='file'],
.button input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}
button.button-add::before,
.button.button-add::before {
  content: '+';
}
button.button-close::before,
.button.button-close::before {
  content: '\d7';
}
