.form-control {
  display: flex;
  margin: 0.5em -0.25em 0 0;
}
.form-control label {
  overflow: hidden;
  width: var(--width-label);
  text-overflow: ellipsis;
  white-space: nowrap;
}
.input-group {
  flex: 1;
  padding: 0 0.75em;
}
.input-group input[type='text'] {
  margin: 0 -0.5em;
}
.input-group select {
  margin: 0 -0.625em;
}
.stage-appear input[type='text'],
.stage-appear select,
.stage-enter input[type='text'],
.stage-enter select,
.stage-exit-active input[type='text'],
.stage-exit-active select,
.stage-enter-done .card-enter input[type='text'],
.stage-enter-done .card-enter select,
.stage-enter-done .card-exit-active input[type='text'],
.stage-enter-done .card-exit-active select {
  background-color: transparent;
  color: transparent;
  transition:
    background-color 200ms,
    color 200ms;
}
input[type='text'],
select,
.stage-appear-active input[type='text'],
.stage-appear-active select,
.stage-enter-active input[type='text'],
.stage-enter-active select,
.stage-enter-done .card-enter-active input[type='text'],
.stage-enter-done .card-enter-active select {
  background-color: var(--color-background-input);
  color: var(--color-text-input);
  transition:
    background-color 400ms 600ms,
    color 400ms 600ms;
}
input[type='text'],
select {
  width: 100%;
  outline: none;
  border: none;
  font-family: inherit;
  line-height: inherit;
}
input[type='text'] {
  padding: 0 0.5em;
  font-size: 1em;
}
label {
  font-weight: bold;
}
select {
  height: 1.875em;
  box-sizing: content-box;
  padding: 0 0.625em;
  font-size: 0.8em;
}
